body {
    font-family: 'Source Sans Pro', sans-serif;
}

.flex-container {
    display: flex;
}

.link {
    margin: 0px 10px 10px 10px;
    max-width:400px; 
    max-height:500px;
}

.link:hover{
    background-color:lightgrey;
 }

.link-header {
    margin: 0px 10px 10px 10px;
    min-height:200px;
    max-height:200px;
}

a {
    font-size: 1.5rem;
    color: black; 
    font-weight: 400;
    text-decoration: none;
}

a:hover { 
    color: black;
    font-weight: 600;
}

/* Scott McKissock */
h1 {
    margin: 2rem 0rem .0rem 2rem; 
    font-weight: 600;
    font-size: 3.0rem;
}

h1.email {
    margin: 0rem 0rem .1rem 2rem; 
    font-weight: 600;
    font-size: 1.6rem;
}

/* Section Headers */
h2 {
    margin: 3rem .1rem .0rem .2rem; 
    font-size: 1.5rem;
}

/* Link headers */
h3 {
    font-weight: 200;
    margin-top: .1rem;
    margin-bottom: .1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
}

/* link descriptions */
p {
    margin-top: .1rem;
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
    margin-bottom: .1rem;
    color: darkgrey;
}

ul {
    list-style: none;
}

p.date {
    margin: .1rem, .1rem, .1rem, .1rem;
    font-size: 1.3rem;
    color: darkgrey;
}


img.screen {
    margin: .1rem 0rem .20px 12px; 
 }