body {
    font-family: 'Source Sans Pro', sans-serif;
}

.flex-container {
    display: flex;
}

.link {
    margin: 0px 10px 10px 10px;
    max-width:400px; 
    max-height:500px;
}

.link:hover{
    background-color:lightgrey;
 }

.link-header {
    margin: 0px 10px 10px 10px;
    min-height:210px;
    max-height:210px;
}

a {
    font-size: 1.5rem;
    color: black; 
    font-weight: 400;
    text-decoration: none;
}

a:hover { 
    color: black;
    font-weight: 600;
}

/* Scott McKissock */
h1 {
    margin: 2rem 0rem .0rem 2rem; 
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.6rem;
}

h1.email {
    margin: 0rem 0rem .1rem 2rem; 
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.7rem;
    color: darkgrey;
}

/* Section Headers */
h2 {
    margin: 3.8rem .1rem .4rem .2rem; 
    font-weight: 400;
    font-size: 2.4rem;
}

/* Section Headers */
h2.link-title {
    margin: .0rem .1rem .0rem .2rem; 
    font-size: 1.4rem;
}


/* Link headers */
h3 {
    font-weight: 200;
    font-size: 1.2rem;
    margin: .1rem 0rem .1rem 1rem;
}

/* link descriptions */
p {
    margin: .1rem 0.0rem 0.2rem .1rem;
    font-size: 1.2rem;
    color: black;
}

p.date {
    margin: .1rem .1rem .0rem .1rem;
    font-weight: 600;
    font-size: 1.42rem;
    color: darkgrey;
}

ul {
    list-style: none;
}


img.screen {
    margin: .1rem 0rem .20px 12px; 
 }